* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
ul li a{
    text-decoration: none;
}
.social-icons {
    display: none;
}
.links {
    display: none;
}
@media screen and (min-width: 800px) {
    .nav-container {
        
    }
    .links {
        display: flex;
    }
    .social-inons {
        display: flex;
    }
}